<footer class="footer">
	<div class="links links-mobil">
		<p class="links-title"> Liens directs</p>
		<ul>
			<li>Communauté</li>
			<li>Barcelone</li>
			<li>Paris</li>
			<li>Fab Lab</li>
		</ul>
		<ul>
			<li>Abonnements</li>
			<li>Mission</li>
			<li>Evénements</li>
			<li>FAQ</li>
		</ul>
		<ul>
			<li>Investors</li>
			<li>Partners</li>
			<li>Press Kit</li>
			<li>Contact</li>
		</ul>				
	</div>
	<div class="links none">
		<p class="links-title"> Worklift Paris</p>
		<ul>
			<li>7 rue cadet</li>
			<li>75009 Paris</li>
		</ul>
		<ul>
			<li>Ouvert 9h-19h</li>
			<li>Ouvert 24/7 aux coworkers</li>
		</ul>
		
		<p class="links-title"> Worklift Barcelona</p>
		<ul>
			<li>223 Concel del Cent</li>
			<li>81011 Barcelona</li>
		</ul>		
	</div>
	<div class="links links-mobil links-two">
		<p class="links-title"> Inscrivez-vous pour recevoir les news tech, notre actualité et bien plus encore.</p>
		<form action="">
			<input type="text" class="input" name="fname">			
			<input type="submit" class="ok" value="OK">
		</form>	
		<ul id="social">
			<li>
				<a href="#"> <img src="/images/facebook-b.svg" alt="Facebook" /></a>
			</li>
			<li>
				<a href="#"> <img src="/images/linkedin-b.svg" alt="Linkedin" /></a>
			</li>
			<li>
				<a href="#">  <img src="/images/twitter-b.svg" alt="Twitter" /></a>
			</li>						
		</ul>	
	</div>	
	<div class="copyright"> WORKLIFT 2017 All Rights Reserved - Termes & Conditions - Mentions Légales</div>	
</footer>