<header class="sticky-header">
	<nav id="cssmenu">
		<div class="logo"><a href="/"><img src="/images/worklift_logo.png" alt="Logo Worklift"/> </a></div>
		<div id="head-mobile"></div>
		<div class="button-menu"></div>
		<ul class="menu">
			<li><a href="/communaute">Communauté</a></li>			
			<li><a href="#">Coworking</a>
			   <ul>
			      <li><a href="#">Paris</a></li>
			      <li><a href="#">Barcelone</a>
			      </li>
			   </ul>
			</li>
			<li><a href="/fab-lab">Fab Lab</a></li>
			<li><a href="#">Abonnements</a></li>
			<li><a href="#">Mission</a></li>
		</ul>
		<ul class="menu_connexion">
			<li class="membre"><a href="#"> Accès membre</a></li>
			<li><a href="#"> FR</a></li>
		</ul>
	</nav>
</header>