<div class="abonnements-global">
    <div class="abonnements">
        <div class="titleG">Nos abonnements</div>
        <p class="subtitleG">Comparez nos formules et choisissez celle qui s'adapte le mieux à vos besoins !</p>
        <a href="#" class="buttonB">Découvrez nos offres</a>
    </div>
</div>