<div class="expert-global">
    <div class="titleG block">Nos Experts vous conseillent</div>
    <div class="expert">
        <div class="expert-img">
            <img src="/images/software.svg" class="expert-a" alt="Une communauté internationale" />
        </div>
        <p class="expert-text"> Software</p>
    </div>
    <div class="expert">
        <div class="expert-img">
            <img src="/images/hardware.svg" class="expert-b" alt="Hardware" />
        </div>
        <p class="expert-text">Hardware</p>
    </div>
    <div class="expert">
        <div class="expert-img">
            <img src="/images/strategie.svg" class="expert-c" alt="Stratégie" />
        </div>
        <p class="expert-text">Stratégie</p>
    </div>
    <div class="expert">
        <div class="expert-img">
            <img src="/images/design-produit.svg" class="expert-d" alt="Design produit" />
        </div>
        <p class="expert-text"> Design produit</p>
    </div>
    <div class="expert">
        <div class="expert-img">
            <img src="/images/marketing.svg" class="expert-e" alt="Marketing" />
        </div>
        <p class="expert-text"> Marketing</p>
    </div>    
    <div class="expert">
        <div class="expert-img">
            <img src="/images/infrastructure.svg" class="expert-f" alt="Infrastructure" />
        </div>
        <p class="expert-text"> Infrastructure</p>
    </div>  
     <div class="expert">
        <div class="expert-img">
            <img src="/images/juridique.svg" class="expert-g" alt="Juridique" />
        </div>
        <p class="expert-text"> Juridique</p>
    </div>      
    <div class="expert">
        <div class="expert-img">
            <img src="/images/financier.svg" class="expert-h" alt="Financier" />
        </div>
        <p class="expert-text"> Financier</p>
    </div>                     
</div>