<div class="mentors-global">
    <div class="mentor">
        <div class="titleW">Mentors & Investisseurs</div>
        <p class="subtitleW">Des mentors pour faire mûrir vos idées et être conseillé sur vos idées hardware et software et un réseau d'investisseurs pour accélérer le développement de votre projet.</p>
    </div>
</div>