<div class="steps-global">
    <div class="step step-a">
        <p class="step-text"> Communauté</p>
        <a href="#" class="buttonW">Rejoindre la communauté</a>       
    </div>
    <div class="step step-b">
        <p class="step-text"> Coworking</p>
        <a href="#" class="buttonW">Paris</a> 
        <a href="#" class="buttonW">Barcelone</a>        
    </div>   
    <div class="step step-c">
        <p class="step-text"> Fab Lab</p>
        <a href="#" class="buttonW">Découvrir le Fab Lab</a>       
    </div>                          
</div>