<div class="intro-container">
    <div class="intro-wrapper">        
    	<div class="center-title">
    		<h1 class="titleW">Accélérez votre innovation</h1>
    		<h3 class="subtitleW">Communauté, Coworking & Fab-Lab</h3>
    	</div>       
    </div>
</div>