<div class="press">
	<h1 class="titleG">Ils parlent de nous</h1>
	<div class="press-global">
		<div class="avatar">
			<div class="avatar-img">
				<img src="avatar-a.png" alt="Gérard Mestralet" />
			</div>
			<div class="avatar-text">
				<span class="avatar-title"> Gérard Mestralet</span>		
				<span class="avatar-job"> Président du conseil d'administration, Engie</span>
				<span class="avatar-country">@WORKLIFT Paris</span>				
			</div>
		</div>
			<div class="avatar-p">
				<span class="avatar-text">«WorkLift me fournit tous les outils pour développer mon entreprise. Leurs services exclusifs et bien ciblés m'ont aidée à découvrir et à gérer des services numériques, le tout à des prix imbattables réservés aux membres.»</span>
			</div>
	</div>	
	<div class="press-global">
		<div class="avatar">
			<div class="avatar-img">
				<img src="avatar-b.png" alt="Gérard Mestralet" />
			</div>
			<div class="avatar-text">
				<span class="avatar-title"> Isabelle Kocher</span>		
				<span class="avatar-job"> Chef d'entreprise, Engie</span>
				<span class="avatar-country">@WORKLIFT Paris</span>
			</div>
		</div>		
		<div class="avatar-p">
			<span class="avatar-text">«WorkLift me fournit tous les outils pour développer mon entreprise. Leurs services exclusifs et bien ciblés m'ont aidée à découvrir et à gérer des services numériques, le tout à des prix imbattables réservés aux membres.»</span>
		</div>		
	</div>
</div>
