<div class="page">
	<div class="container">
		{{> fablab/intro }}
		{{> fablab/studio }}
		{{> fablab/equipement }}
		{{> fablab/preindus }}
		{{> home/abonnements }}
		{{> home/partenaires }}		

	</div>
</div>
