<div class="page">
	<div class="container">
		{{> home/swiper }}
		{{> home/icons }}
		{{> home/steps }}
		{{> home/experts }}
		{{> home/mentors }}
		{{> home/partenaires }}
		{{> home/abonnements }}
	</div>
</div>
