<div class="people-photo">
  <div class="people-photo-cover"></div>
  <div class="people-photo-img"></div>
</div>
<div class="people-content">
  <h5 class="people-content-name">
    <span class="capitalize">adrien</span>
    <span class="important-text-mosque uppercase">panel</span>
  </h5>
  <h6 class="people-content-role">
    <span class="capitalize">co</span>-<span class="capitalize">founder</span>
    &
    <span class="uppercase">cto</span>
  </h6>
  <p class="people-content-description">
    I have always been a geek and proud to be one. I just fell into the cauldron of web potion as a teenager..
    I am online 24 hours a day enjoying the continuous development of the modern internet world.
  </p>
  <p class="people-content-motto">
    I’d love to change the world, but they don’t want to provide me with the source code.
  </p>
</div>
