<div class="people-photo">
  <div class="people-photo-cover"></div>
  <div class="people-photo-img"></div>
</div>
<div class="people-content">
  <h5 class="people-content-name">
    <span class="capitalize">bismark</span>
    <span class="important-text-mosque uppercase">henao</span>
  </h5>
  <h6 class="people-content-role">
    <span class="capitalize">freelance frontend developer</span>
  </h6>
  <p class="people-content-description">
    I'm a senior developer, in love with javascript.
  </p>
  <p class="people-content-motto">
    Talk is cheap. Show me the code.
  </p>
</div>
