<div class="people-photo">
  <div class="people-photo-cover"></div>
  <div class="people-photo-img"></div>
</div>
<div class="people-content">
  <h5 class="people-content-name">
    <span class="capitalize">jean</span>-<span class="capitalize">baptiste</span>
    <span class="important-text-mosque uppercase">castillo</span>
  </h5>
  <h6 class="people-content-role">
    <span class="capitalize">co</span>-<span class="capitalize">founder</span>
    &
    <span class="uppercase">cso</span>
  </h6>
  <p class="people-content-description">
    Passionate about ITs and start-ups, Tripsylon means for me the fulfillment
    of these two passions. I will be your contact person and provide you with
    advice fitted to your expectations.
  </p>
  <p class="people-content-motto">
    While doing business, it doesn’t matter how clever or talented you believe
    you are, integrity tells all.
  </p>
</div>
