<div class="equipement">
	<h2 class="titleG"> Louez votre equipement </h2>
	<p class="subtitleG">-10% pour 5jours / -20% pour 10 jours / -50% pour 1 mois</p>
	<p class="subtitleG"> Pas besoin d'investir. Worklift met à votre disposition une série d'équipements pour vos projets. Commencez à économiser !</p>
	<div class="equipement-global">
		<div class="equipement-img">
			<img src="/images/equipement-a.png" alt="Equipement Worklift" />
		</div>
		<div class="equipement-img">	
			<img src="/images/equipement-b.png" alt="Equipement Worklift" />
		</div>
		<div class="equipement-img">	
			<img src="/images/equipement-c.png" alt="Equipement Worklift" />
		</div>	
		<div class="equipement-img">
			<img src="/images/equipement-d.png" alt="Equipement Worklift" />
		</div>
		<div class="equipement-img">
			<img src="/images/equipement-e.png" alt="Equipement Worklift" />
		</div>	
		<div class="equipement-img">	
			<img src="/images/equipement-f.png" alt="Equipement Worklift" />
		</div>	
		<div class="equipement-img">	
			<img src="/images/equipement-g.png" alt="Equipement Worklift" />
		</div>
		<div class="equipement-img">	
			<img src="/images/equipement-a.png" alt="Equipement Worklift" />
		</div>
	</div>
</div>