<div class="intro-container fablab">
    <div class="intro-wrapper">        
    	<div class="center-title">
    		<h1 class="titleW">FabLAB proposé par worklift</h1>
    		<h3 class="subtitleW">Là où l'innovation se crée. Concevez, développez, fabriquez vos produits hardware au sein d'un espace dédié et équipé. Les experts Worklift vous accompagnent pour mettre en oeuvre toutes vos idées et faire de votre projet une réalisté.</h3>
    	</div>       
    </div>
</div>