<div class="studio">
	<h2 class="titleG"> Notre studio de Fabrication </h2>
	<p class="subtitleG"> Faites votre demande en ligne pour recevoir un devis et lancer une fabrication.</p>
	<div class="studio-global">
		<div class="studio-content">
			<div class="studio-img">
				<img src="/images/impression.png" alt="Impresssion 3D" />
			</div>
			<div class="studio-text">
				<p class="subtitleG">	
					Historiquement l'impression 3D commence au début des années 2000, par l'utilisation de résine chauffée et sert au prototypage rapide.
				</p>
				<a href="#" class="buttonB">Demander un devis</a>
			</div>
		</div>
		<div class="studio-content">
			<div class="studio-img">
				<img src="/images/cnc.png" alt="Découpe SNC" />
			</div>
			<div class="studio-text">
				<p class="subtitleG">	
					Chez USIMM l'usinage se distingue par l'accompagnement et le service personnalisé à chaque étape de la production.
				</p>
				<a href="#" class="buttonB">Demander un devis</a>
			</div>
		</div>
		<div class="studio-content">
			<div class="studio-img">
				<img src="/images/gravure.png" alt="Gravure Laser" />
			</div>
			<div class="studio-text">
				<p class="subtitleG">	
					Historiquement l'impression 3D commence au début des années 2000, par l'utilisation de résine chauffée et sert au prototypage rapide.
				</p>
				<a href="#" class="buttonB">Demander un devis</a>
			</div>
		</div>
		<div class="studio-content">
			<div class="studio-img">
				<img src="/images/serigraphie.png" alt="Sérigraphie" />
			</div>
			<div class="studio-text">
				<p class="subtitleG">	
					Historiquement l'impression 3D commence au début des années 2000, par l'utilisation de résine chauffée et sert au prototypage rapide.
				</p>
				<a href="#" class="buttonB">Demander un devis</a>
			</div>
		</div>
		<div class="studio-content">
			<div class="studio-img">
				<img src="/images/pcb.png" alt="PCB TOOLING" />
			</div>
			<div class="studio-text">
				<p class="subtitleG">	
					Historiquement l'impression 3D commence au début des années 2000, par l'utilisation de résine chauffée et sert au prototypage rapide.
				</p>
				<a href="#" class="buttonB">Demander un devis</a>
			</div>
		</div>
		<div class="studio-content">
			<div class="studio-img">
				<img src="/images/fraisage.png" alt="FRAISAGE" />
			</div>
			<div class="studio-text">
				<p class="subtitleG">	
					Historiquement l'impression 3D commence au début des années 2000, par l'utilisation de résine chauffée et sert au prototypage rapide.
				</p>
				<a href="#" class="buttonB">Demander un devis</a>
			</div>
		</div>								
	</div>
</div>