<!-- <div class="triangle triangle-h-b min-opacity fade-in" style="left: 4px;top: -30px; animation-delay: 1.60s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="top:-36px;left: 114px;animation-delay: 1.60s "></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left: 167px;top: -30px; animation-delay: 1.60s"></div>
<div id="trigger" class="triangle triangle-b-b min-opacity fade-in" style="left:196px;top:70px; animation-delay: 1.60s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:167px;top:130px;animation-delay: 1.60s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left:71px;top:230px;animation-delay: 1.60s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left:-10px;top:160px;animation-delay: 1.60s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left: -10px;top: 60px;animation-delay: 1.60s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left: 28px; top:-24px;animation-delay: 0.3s"></div>
<div class="triangle triangle-h-d min-opacity fade-in" style="left:143px;top:199px;animation-delay: 1.50s"></div> -->