<!-- <div class="triangle triangle-h-a min-opacity fade-in" style="left: 42px;top: -24px;animation-delay: 0.45s"></div>
<div class="triangle triangle-h-c min-opacity fade-in" style="left: 99px;top: -25px;animation-delay: 0.65s "></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left: 129px;top: -25px;animation-delay: 0.70s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left: 143px;top: -25px;animation-delay: 0.70s"></div>

<div class="triangle triangle-h-b fade-in-hero-logo" style="left:-1px; top:5px;"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left: 14px; top:5px;animation-delay: 0.3s"></div>
<div class="triangle triangle-h-c min-opacity fade-in" style="left:28px;  top:5px;animation-delay: 0.35s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left: 42px; top:5px;animation-delay: 0.40s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left: 56px; top:5px;animation-delay: 0.45s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left: 70px; top:5px;animation-delay: 0.50s"></div>
<div class="triangle triangle-h-c min-opacity fade-in" style="left: 85px; top:5px;animation-delay: 0.55s"></div>
<div class="triangle triangle-b-a min-opacity fade-in" style="left: 99px; top:5px;animation-delay: 0.60s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left: 114px; top:5px;animation-delay: 0.65s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left: 128px; top:5px;animation-delay: 0.65s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left: 143px; top:5px;animation-delay: 0.70s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left: 157px; top:5px;animation-delay: 0.70s"></div>
<div class="triangle triangle-h-d min-opacity fade-in" style="left: 172px; top:5px;animation-delay: 0.75s"></div>

<div class="triangle triangle-b-c min-opacity fade-in" style="top:35px; left: -1px;animation-delay: 0.50s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:14px;top:35px;animation-delay: 0.45s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left:28px; top:35px;animation-delay: 0.40s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:158px; top:35px;animation-delay: 0.90s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left:172px; top:35px;animation-delay: 0.80s"></div>
<div class="triangle triangle-h-c min-opacity fade-in" style="left:186px; top:35px;animation-delay: 0.90s"></div>

<div class="triangle triangle-b-d min-opacity fade-in" style="left:14px;top:65px;animation-delay: 0.50s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:28px;top:65px;animation-delay: 0.55s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:42px;top:65px;animation-delay: 0.60s"></div>
<div class="triangle triangle-h-d min-opacity fade-in" style="left:57px;top:65px;animation-delay: 0.65s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:72px;top:65px;animation-delay: 0.70s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:115px;top:65px;animation-delay: 1.10s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:129px;top:65px;animation-delay: 1.05s"></div>
<div class="triangle triangle-h-d min-opacity fade-in" style="left:144px;top:65px;animation-delay: 0.90s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left:157px;top:65px;animation-delay: 0.90s"></div>
<div class="triangle triangle-h-d min-opacity fade-in" style="left:172px;top:65px;animation-delay: 0.90s"></div>

<div class="triangle triangle-b-d min-opacity fade-in" style="left:0;top:95px;animation-delay: 0.90s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:14px;top:95px;animation-delay: 0.85s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:28px;top:95px;animation-delay: 0.80s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left:115px;top:95px;animation-delay: 1.15s"></div>
<div class="triangle triangle-h-c min-opacity fade-in" style="left:129px;top:95px;animation-delay: 1.20s"></div>
<div class="triangle triangle-b-a min-opacity fade-in" style="left:143px;top:95px;animation-delay: 1.25s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left:157px;top:95px;animation-delay: 1.30s"></div>

<div class="triangle triangle-h-b min-opacity fade-in" style="left:0;top:125px;animation-delay: 0.95s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left:14px;top:125px;animation-delay: 0.90s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:28px;top:125px;animation-delay: 0.95s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:42px;top:125px;animation-delay: 0.95s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left:57px;top:125px;animation-delay: 1s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left:72px;top:125px;animation-delay: 1s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:86px;top:125px;animation-delay: 1.05s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left:129px;top:125px;animation-delay: 1.35s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:143px;top:125px;animation-delay: 1.40s"></div>

<div class="triangle triangle-h-b min-opacity fade-in" style="left:14px;top:155px;animation-delay: 1.15s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:28px;top:155px;animation-delay: 1.10s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left:130px;top:155px;animation-delay: 1.45s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left:143px;top:155px;animation-delay: 1.45s"></div>
<div class="triangle triangle-h-c min-opacity fade-in" style="left:157px;top:155px;animation-delay: 1.45s"></div>

<div class="triangle triangle-h-c min-opacity fade-in" style="left:0px;top:185px;animation-delay: 1.25s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left:14px;top:185px;animation-delay: 1.20s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:58px;top:185px;animation-delay: 1.45s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:101px;top:185px;animation-delay: 1.50s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left:87px;top:185px;animation-delay: 1.55s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:73px;top:185px;animation-delay: 1.55s"></div>
<div class="triangle triangle-h-d min-opacity fade-in" style="left:116px;top:185px;animation-delay: 1.50s"></div>
<div class="triangle triangle-b-a min-opacity fade-in" style="left:129px;top:185px;animation-delay: 1.45s"></div>
<div class="triangle triangle-b-a min-opacity fade-in" style="left:157px;top:185px;animation-delay: 1.45s"></div>

<div class="triangle triangle-h-d min-opacity fade-in" style="left:-15px;top:215px;animation-delay: 1.35s"></div>
<div class="triangle triangle-b-a min-opacity fade-in" style="left:0px;top:215px;animation-delay: 1.30s"></div>
<div class="triangle triangle-h-b min-opacity fade-in" style="left:14px;top:215px;animation-delay: 1.35s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:28px;top:215px;animation-delay: 1.40s"></div>
<div class="triangle triangle-h-a min-opacity fade-in" style="left:42px;top:215px;animation-delay: 1.45s"></div>
<div class="triangle triangle-b-d min-opacity fade-in" style="left:58px;top:215px;animation-delay: 1.45s"></div>
<div class="triangle triangle-b-c min-opacity fade-in" style="left:85px;top:215px;animation-delay: 1.50s"></div>
<div class="triangle triangle-b-b min-opacity fade-in" style="left:114px;top:215px;animation-delay: 1.55s"></div>
 -->