<div class="people-title"></div>
<div class="people-team people-contact-global">
  <div class="blank-container"></div>
  <div class="people-team-container caci">
    <div class="people-contact min-opacity" data-effect="fade" data-effect-type="in-left">
      {{> contact/map }}
    </div>
    <div class="people-contact min-opacity" data-effect="fade" data-effect-type="in-left">
       {{> contact/infos }}
    </div>
  </div>
</div>
