<div class="people-title"></div>
<div class="people-team">
  <div class="blank-container"></div>
  <div class="people-team-container">
    <div class="people min-opacity marginglobal" data-effect="fade" data-effect-type="in-left">
      {{> people/jean-baptiste }}
    </div>
    <div class="people min-opacity marginglobal" data-effect="fade" data-effect-type="in-left">
      {{> people/adrien }}
    </div>
  </div>
</div>
