<div class="block-description text-right justify-end min-opacity" data-effect="fade" data-effect-type="in-left">
  <p>
    Who else could understand better tomorrow’s challenges?
  </p>
  <p>
    Tripsylon is a team stemming from the Y generation,
    also named the generation of <span class="important-text-white">digital natives.</span>
  </p>
</div>

<div class="block-background block1a">
  <div class="overlay"></div>
  <i class="icon icon-light"></i>
</div>
