<div class="footer-title min-opacity" data-effect="fade" data-effect-type="in-right">
</div>
<div class="footer-motto justify-center">
  <ul class="min-opacity" data-effect="fade" data-effect-type="in-left">
    <h3>who we are</h3>
    <li>
      <span class="capitalize">we</span>
      are
      <span class="important-text-white uppercase">international</span>
      team
    </li>
    <li>
      <span class="capitalize">we</span>
      are
      <span class="important-text-white uppercase">afterwork</span>
      oriented
    </li>
    <li>
      <span class="capitalize">we</span>
      provide your challenging
      <span class="important-text-white uppercase">projects</span>
    </li>
    <li>
      <span class="capitalize">we</span>
      are
      <span class="important-text-white uppercase">easy going</span>
      people
    </li>
    <li>
      <span class="capitalize">we</span>
      are
      <span class="important-text-white uppercase">awesome</span>
    </li>
  </ul>
</div>
