<h2 class="important-text-white min-opacity" data-effect="fade" data-effect-type="in-left">we design</h2>
<h5 class="important-text-green-mist space-to-left min-opacity" data-effect="fade" data-effect-type="in-left">an</h5>
<h2 class="important-text-mosque min-opacity" data-effect="fade" data-effect-type="in-left">we develop</h2>
