<div class="people-title min-opacity justify-end" data-effect="fade" data-effect-type="in-right">
  <h3 class="important-text-green-mist uppercase">we are</h3>
  <h2 class="important-text-white uppercase">people</h2>
</div>
<div class="people-team">
  <div class="people-team-container">
    <div class="people min-opacity marginglobal" data-effect="fade" data-effect-type="in-right">
      {{> people/diane }}
    </div>
  </div>
</div>
