<div class="block-background block1b">
  <div class="overlay"></div>
  <i class="icon icon-browser"></i>
</div>

<div class="block-description text-left justify-start min-opacity" data-effect="fade" data-effect-type="in-right">
  <p>
    <span class="important-text-white">Got the concept?</span> We’ll design the solution.
  </p>

  <p>
    Because each idea is unique, at Tripsylon we stand out with
    a custom-made and unique solution, constantly adapting to our
    clients’ requirements.
  </p>
</div>
