<div class="footer-title min-opacity justify-start" data-effect="fade" data-effect-type="in-right">
  <div class="footer-title-description">
    <h4 class="important-text-white uppercase line-through-text">amazing</h4>
    <h4 class="important-text-white uppercase line-through-text">talented</h4>
    <h4 class="important-text-white uppercase line-through-text">passionate</h4>
  </div>
  <div class="footer-title-name">
    <h3 class="important-text-mosque uppercase">work with</h3>
    <h2 class="important-text-white uppercase">people</h2>
  </div>
</div>
<div class="footer-motto justify-between">
  <ul class="min-opacity" data-effect="fade" data-effect-type="in-right">
    <h3>who you are</h3>
    <li>
      <span class="capitalize">you</span>
      are infected with the
      <span class="important-text-white uppercase">geek</span>
      virus
    </li>
    <li>
      <span class="capitalize">you</span>
      get involved in your work with
      <span class="important-text-white uppercase">passion</span>
    </li>
    <li>
      <span class="capitalize">you</span>
      are
      <span class="important-text-white uppercase">professional</span>
      as fuck
    </li>
    <li>
      <span class="capitalize">having</span>
      <span class="important-text-white uppercase">funs</span>
      is not an option for you
    </li>
    <li>
      <span class="capitalize">you</span>
      always
      <span class="important-text-white uppercase">open</span>
      a bottle of <span class="important-text-white uppercase">mindedness</span>
    </li>
    <li>
      <span class="capitalize">last</span>
      but not least, you are
      <span class="important-text-white uppercase">ambitious</span>
    </li>
  </ul>
  <div class="blank-container"></div>
</div>
